{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block content %}
<div class="container mb-2 my-5">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="mb-4">Shopping Bag</h2>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col">
            {% if bag_items %}
            <div>
                <table class="table table-sm table-borderless">
                    <thead>
                        <tr>
                            <th scope="col">Product Info</th>
                            <th scope="col"></th>
                            <th scope="col">Price</th>
                            <th scope="col">Qty</th>
                            <th scope="col">Subtotal</th>
                        </tr>
                    </thead>
                    {% for item in bag_items %}
                    <tr style="height:40vh" id="{{item.design_id}}">
                        <td class="p-3 w-25" style="position:relative">
                            <svg id="product-svg" xmlns="http://www.w3.org/2000/svg" style="position: absolute;"
                                xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                                preserveAspectRatio="xMidYMid meet"
                                viewBox="0 0 {{ item.product.svg_width }} {{ item.product.svg_height }}"
                                width="{{ item.product.svg_width }}" height="{{ item.product.svg_height }}">
                                <defs>
                                    {% for pattern in patterns %}
                                    <pattern id="{{ pattern.id }}" height="100%" width="100%"
                                        patternContentUnits="objectBoundingBox">
                                        <image height="1" width="1" preserveAspectRatio="none"
                                            xlink:href="{{ pattern.href }}" />
                                    </pattern>
                                    {% endfor %}
                                    <path d="{{ item.product.svg_path }}" id="{{ item.product.svg_id }}"
                                        class="full_box" style="display: none;" />
                                    <path d="{{ item.product.top_svg_path }}" id="{{ item.product.top_svg_id }}"
                                        class="top_box" style="display: none;" />
                                    <path d="{{ item.product.bottom_svg_path }}" id="{{ item.product.bottom_svg_id }}"
                                        class="bottom_box" style="display: none;" />
                                </defs>
                                <g>
                                    <g>
                                        <g>
                                            <g>
                                                <use xlink:href="#{{ item.product.svg_id }}" opacity="1"
                                                    stroke="#000000" stroke-width="0"
                                                    class="full_box product-shape active_svg" />
                                                <use xlink:href="#{{ item.product.top_svg_id }}" opacity="1"
                                                    stroke="#000000" stroke-width="0" class="top_box product-shape" />
                                                <use xlink:href="#{{ item.product.bottom_svg_id }}" opacity="1"
                                                    stroke="#000000" stroke-width="0"
                                                    class="bottom_box product-shape" />
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                            <!--Background image-->
                            <img id="background-image" class="img-fluid rounded" src="{{ item.image_design }}"
                                alt="{{ product.name }}" style="width:auto; height:auto; position: absolute;">
                            <!--Lock image-->
                            {% if product.image_lock %}
                            <img id="lock_image" class="img-fluid rounded" src="{{ item.product.image_lock.url }}"
                                alt="Lock">
                            {% endif %}
                            <!--Input text -->
                            <div id="text_area_div">
                                <textarea id="textarea">INPUT TEXT HERE</textarea>
                            </div>
                            <!-- Decoration-->
                            <img id="decoration_img" style="display: none;">
                        </td>
                        <td class="py-3">
                            <p class="my-0"><strong>{{ item.product.name }}</strong></p>
                            <p class="my-0 small text-muted">SKU: {{ item.product.sku|upper }}</p>
                        </td>
                        <td class="py-3">
                            <p class="my-0">${{ item.product.price }}</p>
                        </td>
                        <td class="py-3 w-25">
                            <form class="form update-form" method="POST" action="{% url 'adjust_bag' item.item_id %}">
                                {% csrf_token %}
                                <div class="form-group">
                                    <div class="input-group">
                                        <input class="form-control form-control-sm qty_input" type="number"
                                            name="quantity" value="{{ item.quantity }}" min="1" max="99"
                                            data-item_id="{{ item.item_id }}" id="id_qty_{{ item.item_id }}">
                                    </div>
                                </div>
                            </form>
                            <a class="update-link text-info"><small>Update</small></a>
                            <a class="remove-item text-danger float-right" id="remove_{{ item.item_id }}"
                                name={{item.design_id}}><small>Remove</small></a>
                        </td>
                        <td class="py-3">
                            <p class="my-0">${{ item.product.price | calc_subtotal:item.quantity }}</p>
                        </td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="5" class="pt-5 text-right">
                            <h6><strong>Bag Total: ${{ total|floatformat:2 }}</strong></h6>
                            <h6>Delivery: ${{ delivery|floatformat:2 }}</h6>
                            <h4 class="mt-4"><strong>Grand Total: ${{ grand_total|floatformat:2 }}</strong></h4>
                            {% if free_delivery_delta > 0 %}
                            <p class="mb-1 text-danger">
                                You could get free delivery by spending just <strong>${{ free_delivery_delta }}</strong>
                                more!
                            </p>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="5" class="text-right">
                            <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 btn-lg">
                                <span class="icon">
                                    <i class="fas fa-chevron-left"></i>
                                </span>
                                <span class="text-uppercase">Keep Shopping</span>
                            </a>
                            <a href="{% url 'checkout' %}" class="btn btn-black rounded-0 btn-lg">
                                <span class="text-uppercase">Secure Checkout</span>
                                <span class="icon">
                                    <i class="fas fa-lock"></i>
                                </span>
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
            {% else %}
            <p class="lead mb-5">Your bag is empty.</p>
            <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 btn-lg">
                <span class="icon">
                    <i class="fas fa-chevron-left"></i>
                </span>
                <span class="text-uppercase">Keep Shopping</span>
            </a>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}
{% block postloadjs %}
<script type="text/javascript">
    $('.toast').toast('show');
    // Show the design 
    $('tr').each(function () {
        if ($(this).attr("id")) {
            design = JSON.parse(localStorage.getItem($(this).attr('id')))
            // Check if there is a pattern or background colour
            if (design['full_box active_svg']) {
                $(this).find('.full_box').css({ 'fill': design['full_box active_svg'], 'display': 'inline' }).attr('class', 'full_box active_svg');
            } else if (design['full_box']) {
                $(this).find('.full_box').css({ 'fill': design['full_box'], 'display': 'inline' }).attr('class', 'full_box active_svg');
            }
            if (design['top_box active_svg']) {
                $(this).find('.top_box').css({ 'fill': design['top_box active_svg'], 'display': 'inline' }).attr('class', 'top_box active_svg');
            } else if (design['top_box']) {
                $(this).find('.top_box').css({ 'fill': design['top_box'], 'display': 'inline' }).attr('class', 'top_box active_svg');
            }
            if (design['bottom_box active_svg']) {
                $(this).find('.bottom_box').css({ 'fill': design['bottom_box active_svg'], 'display': 'inline' }).attr('class', 'bottom_box active_svg');
            } else if (design['bottom_box']) {
                $(this).find('.bottom_box').css({ 'fill': design['bottom_box'], 'display': 'inline' }).attr('class', 'bottom_box active_svg');
            }
            // If textarea was selected in the design, get the relevant info 
            if (design['textarea_text']) {
                $(this).find('#textarea').text(design['textarea_text'])
                // Get the top and left offset with this calculation:
                // minimized top offset = (minimized height/original height)*original top offset  
                textarea_top = ($(this).find('#product-svg').height() / design['container_height']) * design['textarea_top']
                // minimized left offset = (minimized width/original width)*original left offset  
                textarea_left = ($(this).find('#product-svg').width() / design['container_width']) * design['textarea_left']

                // Add the css properties to the text_area_div 
                $(this).find('#text_area_div').css('display', 'block').css('position', 'absolute').css('top', `${textarea_top}px`).css('left', `${textarea_left}px`)

                // Calculate font-size by removing the px part and calculating:
                // minimazed font-size = original font size * (minimized width/original width)
                font_size = (parseFloat((design['font_size'].slice(0, -2))) * ($(this).find('#product-svg').width() / design["container_width"])).toFixed()
                $(this).find("#textarea").css('font-size', `${font_size}px`)

                // Add font-family
                $(this).find("#textarea").css('font-family', design["font-family"])

            }
            // If decoration was selected in the design, get the relevant info 
            if (design["decoration_src"]) {
                // Get the top and left offset with this calculation:
                // minimized top offset = (minimized height/original height)*original top offset  
                decoration_top = ($(this).find('#product-svg').height() / design["container_height"]) * design["decoration_top"]
                // minimized left offset = (minimized width/original width)*original left offset  
                decoration_left = ($(this).find('#product-svg').width() / design["container_width"]) * design["decoration_left"]

                // Calculate height and width of the decoration:
                // minimazed height = original height * (minimized height/original height)
                decoration_height = (parseFloat(design["decoration_height"]) * ($(this).find('#product-svg').height() / design["container_height"])).toFixed()
                // minimazed width = original height * (minimized height/original height)
                decoration_width = (parseFloat(design["decoration_width"]) * ($(this).find('#product-svg').width() / design["container_width"])).toFixed()

                // Add the css properties to the decoration image
                var all_css = { 'display': 'block', 'position': 'absolute', 'top': `${decoration_top}px`, 'left': `${decoration_left}px`, 'height': `${decoration_height}px`, 'width': `${decoration_width}px` }

                // Check if the decoration was modified
                if (design["decoration_style"]) {
                    array_styles = design["decoration_style"].split(";")
                    for (style of array_styles) {
                        specific_style = style.split(':')
                        if (specific_style[0]) {
                            // Height and width are already set
                            if (($.trim(specific_style[0]) !== 'height') && ($.trim(specific_style[0]) !== 'width')) {
                                all_css[specific_style[0]] = specific_style[1]
                            }
                        }
                    }
                    $(this).find('#decoration_img').attr('src', design["decoration_src"]).css(all_css)
                } else {
                    $(this).find('#decoration_img').attr('src', design["decoration_src"]).css(all_css)
                }
            }
        }
    })

    // Update quantity on click
    $('.update-link').click(function (e) {
        var form = $(this).prev('.update-form');
        form.submit();
    })

    // Remove item and reload on click
    $('.remove-item').click(function (e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var url = `/bag/remove/${itemId}/`;
        var data = { 'csrfmiddlewaretoken': csrfToken };
        localStorage.removeItem($(this).attr('name'))
        $.post(url, data)
            .done(function () {
                location.reload();
            });
    })
</script>
{% endblock %}