{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid product_design_container">
    <div class="row">
        <div id="container" class="col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-1">
            <!--SVG layer-->
            <svg id="product-svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                version="1.1" preserveAspectRatio="xMidYMid meet"
                viewBox="0 0 {{ product.viewBox_width }} {{ product.viewBox_height }}" width="{{ product.svg_width }}"
                height="{{ product.svg_height }}">
                <defs>
                    {% for pattern in patterns %}
                    <pattern id="{{ pattern.sku }}" height="100%" width="100%" patternContentUnits="objectBoundingBox">
                        <image height="1" width="1" preserveAspectRatio="none" xlink:href="{{ pattern.href }}" />
                    </pattern>
                    {% endfor %}
                    <path d="{{ product.svg_path }}" id="{{ product.svg_id }}" />
                </defs>
                <g>
                    <g>
                        <g>
                            <g>
                                <use id="product-shape" xlink:href="#{{ product.svg_id }}" opacity="1" stroke="#000000"
                                    stroke-width="0" />
                            </g>
                        </g>
                    </g>
                </g>
            </svg>
            <!--Background image-->
            <img id="background-image" class="card-img-top img-fluid" src="{{ product.image.url }}"
                alt="{{ product.name }}">
            <!--Lock image-->
            {% if product.image_lock %}
            <img id="lock_image" class="card-img-top img-fluid" src="{{ product.image_lock.url }}" alt="Lock">
            {% endif %}
        </div>
    </div>
</div>
<!--Options - colors-->
<div class="colors">
    {% for color in colors %}
    <div class="color" data-hex="{{color.hex_value}}"></div>
    {% endfor %}
</div>
<!--Options - patterns-->
<div class="patterns">
    {% for pattern in patterns %}
    <div class="pattern" id="{{ pattern.sku }}" title="{{ pattern.href }}"></div>
    {% endfor %}
</div>

{% endblock %}

{% block postloadjs %}
<script src="{% static 'js/apply_design.js' %}"></script>
<script src="{% static 'js/set_backgrounds.js' %}"></script>
{% endblock %}