{% extends "base.html" %}
{% load static %}



{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-10 offset-1">
            <p class="d-block d-lg-none logo text-center mb-5"> Product categories</p>
            <div class="row">
                {% for category in current_categories %}
                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 mb-5">
                    <div class="card h-100 border-0">

                        <a href="{% url 'products' %}?category={{category.name}}">
                            <img class="card-img-top img-fluid category_image" src="{{ category.category_image.url }}"
                                alt="{{ product.name }}">
                        </a>
                        <div class="card-body pb-0">
                            <p class="mb-0 category_name">{{ category.friendly_name }}</p>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:1 %}
                <div class="col-12 d-sm-none mb-5">
                    <hr>
                </div>
                {% endif %}
                {% if forloop.counter|divisibleby:2 %}
                <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-5">
                    <hr>
                </div>
                {% endif %}
                {% if forloop.counter|divisibleby:3 %}
                <div class="col-12 d-none d-lg-block d-xl-none mb-5">
                    <hr>
                </div>
                {% endif %}
                {% if forloop.counter|divisibleby:4 %}
                <div class="col-12 d-none d-xl-block mb-5">
                    <hr>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}
{% block postloadjs %}
<script type="text/javascript">
    $(".toast").toast("show");
    // Nav bar item active
    $(".nav-item").removeClass("active");
    $(".nav_design").addClass("active");
</script>
{% endblock %}